@charset "utf-8";
/* resets */
/* box sizing reset */
html {
	box-sizing: border-box;
}
*, *::before, *:after {
	box-sizing: inherit;
}

/* main */

.food img {
    
    width: 100%;
    padding:0 3%;
    margin-left: auto;
    margin-right: auto;
}

.food article {
    padding: 1em;
}

.food h2 {
    margin-left: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}

/* end main */



/* end of footer */

@media (min-width:560px){

    .food img {
        max-width: 100%;
        height: auto;
        padding:3%;
        margin-left: auto;
        margin-right: auto;
        font-display: block;
    }
}

@media (min-width: 700px){

    /* main */

    .food {
        position: static;
    }

    .cont-food {
        position: relative;
    }

    .cont-food article {
        position: absolute;
        top: 0;
        left: 40%;
        padding: 0;
        margin: 0;
        padding-left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .food img {
        margin: 0 auto;
        padding: 0;
        width: 40%;
        max-width: 100%;
    }    
    .soba-cont {
        position: relative;
    }

    .soba-cont {
        display: flex;
        flex-direction: row-reverse;
    }

    .soba-cont article {
        padding: 0;
        padding-left: 15px;
        bottom: -50%;
        transform: translateY(30%);
    }

    footer {
        margin-top: 3em;
    }
}